@import "../../../node_modules/simplycountdown.js/css/scss/simplyCountdown.theme.default.scss";
@import "../../../node_modules/simplycountdown.js/css/scss/simplyCountdown.theme.losange.scss";

$spacing: 20px;

.yacp-countdown {
  margin-left: auto;
  margin-right: auto;
}

.section-text {
  .yacp-countdown {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}
